{{>header}}
    <h1>Bienvenido a la tercera entrega NODEJS</h1>
    <p>En la direccion /registroCoord podrás encontrar un formulario en donde puedes crear coordinadores para la aplicación.</p>
    <p>Gracias por ver la app</p>
{{>footer}}    
