{{>header}}
    <h1>Bienvenido al Centro de Educación Continua</h1>
    <p>En esta plataforma podrás inscribirte a los cursos ofrecidos por el Tecnolgico de Antioquia, 
        ver los usuarios inscritos a cada curso y crear cursos para el 
        centro de educuación continua</p>   
    <img class="mx-auto d-block" src="images/tdea.jpg" 
    width="1000" height="500"/>
{{>footer}}    
